.questions {
    padding: 0px 375px 120px 375px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h1 {
    font-size: 50px;
    font-family: 'CeraPro';
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
}

.questions h2 {
    font-size: 22px;
    font-family: 'CeraPro';
    font-weight: 700;
    color: #FFFFFF;
}

.mans_mails {
    display: flex;
    gap: 31px;
}