.questions {
    padding: 0px 375px 120px 375px;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.h1 {
    font-size: 50px;
    font-family: 'CeraPro';
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
}

.questions h2 {
    font-size: 22px;
    font-family: 'CeraPro';
    font-weight: 700;
    color: #FFFFFF;
}

.mans_mails {
    display: flex;
    gap: 31px;
}

@media(max-width: 900px) {
    .questions {
        padding: 0px 20px 80px 20px;
        gap: 30px;
    }

    .h1 {
        font-size: 34px
    }

    .mans_mails {
        flex-direction: column;
        gap: 60px;
    }

    .mans {
        order: 2
    }
}

@media(max-width: 600px) {
    .questions {
        padding: 0px 19px 80px 19px;
    }

    .h1 {
        font-size: 30px;
    }

    .questions h2 {
        font-size: 18px;
    }
}

@media(max-width: 320px) {
    .questions {
        padding: 0px 17px 80px 17px;
        gap: 30px;
    }

    .h1 {
        font-size: 26px;
    }

    .questions h2 {
        font-size: 14px;
    }
}