.header {
    padding: 30px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(146, 115, 152, 0.2);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 59px;
}

.contacts {
    display: flex;
}

.phone {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 39px;
}

.phone p {
    font-size: 18px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button {
    border: 2px solid #FFFFFF;
    padding: 10px 16px;
    font-size: 14px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media(max-width: 900px) {
    .header {
        padding: 15px 20px;
        align-items: center;
        gap: 52px;
        height: 70px;
    }

    .logo {
        width: 165px;
        height: 40px;
    }

    .logo img {
        width: 165px;
        height: 40px;
        width: 100%;
    }

    .button {
        font-size: 0;
        color: transparent;
        padding: 8px 17px;
        width: 57px;
        height: 40px;
        background-image: url('/header/mail.svg');
        background-repeat: no-repeat;
        background-position: center;
        background-size: 24px 24px;
    }

    .phone {
        padding-right: 20px;
    }

    .phone p {
        white-space: nowrap;
    }

    .navigation {
        gap: 30px;
    }
}