.header {
    padding: 30px 21px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    border-bottom: 2px solid rgba(146, 115, 152, 0.2);
}

.navigation {
    display: flex;
    align-items: center;
    gap: 59px;
}

.contacts {
    display: flex;
}

.phone {
    display: flex;
    gap: 20px;
    align-items: center;
    padding-right: 39px;
}

.phone p {
    font-size: 18px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

.button {
    border: 2px solid #FFFFFF;
    padding: 10px 16px;
    font-size: 14px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}