.managing {
    padding: 0px 375px 120px 375px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.managing h1 {
    font-size: 50px;
    font-family: 'CeraPro';
    font-weight: 900;
    text-transform: uppercase;
    color: #FFFFFF;
}

.p {
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 400;
    color: #FFFFFF;
}

.cards_video {
    display: flex;
    justify-content: space-between;
}

.btn {
    width: 190px;
    height: 50px;
    background-color: #F25C3A;
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
    display: none;
}

@media(max-width: 900px) {
    .managing {
        padding: 0px 20px 80px 20px;
        gap: 30px;
    }

    .cards_video {
        flex-direction: column;
        gap: 40px;
    }

    .btn {
        display: block;
    }

    .video {
        width: 860px;
    }

    .video iframe {
        width: 860px;
    }
}

@media(max-width: 600px) {
    .managing {
        padding: 0px 19px 80px 19px;
    }

    .managing h1 {
        width: 70%;
        font-size: 30px;
    }

    .video {
        width: 560px;
    }

    .video iframe {
        width: 560px;
    }
}

@media(max-width: 320px) {
    .managing {
        padding: 0px 17px 80px 17px;
        gap: 30px;
    }

    .managing h1 {
        font-size: 26px;
        width: 100%;
    }

    .managing p {
        font-size: 13px;
        width: 289px;
    }

    .video {
        width: 290px;
        height: 163px;
    }

    .video iframe {
        width: 290px;
        height: 163px;
    }

    .btn {
        width: 290px;
    }
}