.footer {
    display: flex;
    padding: 31px 375px;
    align-items: center;
    height: 112px;
    background-color: #3B2341;
    justify-content: space-between;
    position: relative;
}

.p p {
    font-size: 14px;
    font-family: 'CeraPro';
    font-weight: 400;
    color: #927398;
}

.right_part {
    display: flex;
    gap: 49px;
    align-items: center;
}

.phone {
    display: flex;
    gap: 20px;
}

.phone p {
    font-size: 18px;
    font-family: 'CeraPro';
    font-weight: 500;
    color: #927398;
    text-transform: uppercase;
}

.logo2 {
    display: none;
}

@media(max-width: 900px) {
    .footer {
        padding: 20px;
        height: auto;
        min-height: 112px;
        flex-wrap: wrap;
        position: relative;
    }

    .p {
        position: absolute;
        bottom: 15px;
        left: 50%;
        transform: translateX(-50%);
        width: 100%;
        text-align: center;
    }

    .logo,
    .right_part {
        width: 50%;
    }

    .right_part {
        justify-content: flex-end;
        gap: 20px;
    }
}

@media(max-width: 600px) {
    .logo {
        display: none;
    }

    .logo2 {
        display: flex;
    }

    .right_part {
        width: 80%;
        justify-content: space-between;
    }
}