.all {
    position: relative;
}

.all::before {
    content: '';
    position: absolute;
    left: 17%;
    top: 0;
    bottom: 0;
    width: 2px;
    background: rgba(146, 115, 152, 0.5);
}

.left_block {
    position: relative;
}

.left_block::before {
    content: '';
    position: absolute;
    left: 91px;
    top: 50%;
    transform: translateY(-50%);
    width: 12px;
    height: 12px;
    background: transparent;
    border: 2px solid #F25C3A;
    border-radius: 50%;
}

.text_wolfmedia {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 573px;
}

.text_wolfmedia p {
    font-size: 16px;
    font-weight: 400;
    font-family: 'CeraPro';
    color: #FFFFFF;
}

.all {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.left_block {
    display: flex;
    gap: 42px;
}

.title_arrow {
    display: flex;
    align-items: center;
    text-align: center;
}

.title_arrow p {
    width: 65px;
    height: 30px;
    background-color: #FFFFFF;
    font-size: 16px;
    font-weight: 700;
    font-family: 'CeraPro';
}

.description_arrow {
    display: flex;
    align-items: first baseline;
    text-align: left;
    max-height: 375px;
}

.description_arrow p {
    padding: 3px 15px;
    background-color: #503655;
    font-size: 16px;
    font-weight: 400;
    font-family: 'CeraPro';
    color: #FFFFFF;
}