.cards {
    display: flex;
    gap: 30px;
}

.card {
    align-items: center;
    width: 370px;
}

.bgd_img {
    padding: 38px 135px;
    align-items: center;
    background-color: #3B2341;
}

.text {
    width: 370px;
    height: 85px;
    text-align: center;
    align-items: center;
}

.text p {
    height: 90px;
    padding: 19px 35px;
    background-color: #503655;
    font-size: 22px;
    font-family: 'CeraPro';
    font-weight: 700;
    color: #FFFFFF;
}

@media(max-width: 900px) {
    .cards {
        gap: 22px;
    }

    .bgd_img {
        padding: 27px 86px;
        width: 272px;
        height: 160px;
    }

    .text {
        width: 272px;
        height: 81px;
    }

    .text p {
        padding: 17px 9px;
    }
}

@media(max-width: 600px) {
    .cards {
        gap: 19px;
    }

    .bgd_img img {
        width: 63px;
        height: 63px;
    }

    .bgd_img {
        width: 173px;
        height: 102px;
        padding: 19px 54px;
    }

    .text {
        width: 173px;
        height: 72px;
    }

    .text p {
        padding: 10px 11px;
        font-size: 16px;
    }
}