.help_brends {
    padding: 0px 375px 120px 375px;
    display: flex;
    flex-direction: column;
    gap: 56px;
}

.help_brends h1 {
    font-size: 50px;
    font-family: 'CeraPro';
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
}

.p {
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 400;
    color: #FFFFFF;
}

.btn {
    display: flex;
    justify-content: center;
}

.text_cards {
    display: flex;
    flex-direction: column;
    gap: 60px;
}

.btn button {
    width: 323px;
    height: 50px;
    background-color: #F25C3A;
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}

@media(max-width: 900px) {
    .help_brends {
        padding: 0px 20px 80px 20px;
        gap: 60px;
    }

    .help_brends {
        font-size: 34px;
    }

    .text_cards {
        gap: 40px;
    }
}

@media(max-width: 600px) {
    .help_brends {
        padding: 0px 19px 80px 19px;
    }

    .help_brends h1 {
        font-size: 30px;
    }
}

@media(max-width: 320px) {
    .help_brends {
        padding: 0px 17px 80px 17px;
        gap: 30px;
    }

    .help_brends h1 {
        font-size: 26px;
    }

    .text_cards {
        gap: 30px;
    }

    .p {
        font-size: 13px;
        width: 289px;
    }
}