.mails {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.mail {
    display: flex;
    flex-direction: column;
    gap: 9px;
}

.arrow_h1 {
    display: flex;
    gap: 13px;
}

.arrow_h1 h1 {
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 400;
    color: #FFFFFF;
    border-bottom: 1px dashed rgba(255, 255, 255, 0.3);
}

.mail p {
    padding-left: 27px;
    font-size: 14px;
    font-family: 'CeraPro';
    font-weight: 400;
    color: #927398;
}