.statistic {
    padding: 105px 345px;
    display: flex;
    flex-direction: column;
    gap: 96px;
    align-items: center;
}

.main_text {
    font-size: 126px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 900;
    color: #FFFFFF;
    text-transform: uppercase;
}

.blocks_arrow {
    display: flex;
    flex-direction: column;
    gap: 61px;
    align-items: center;
}

.blocks {
    display: flex;
    gap: 30px;
}

.auditory {
    border: 2px solid rgba(146, 115, 152, 0.5);
    width: 570px;
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.auditory h1 {
    font-size: 50px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 900;
    color: #F25C3A;
    text-transform: uppercase;
}

.auditory p {
    font-size: 16px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

.readers {
    border: 2px solid rgba(146, 115, 152, 0.5);
    width: 570px;
    height: 167px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 7px;
}

.readers h1 {
    font-size: 50px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 900;
    color: #F25C3A;
    text-transform: uppercase;
}

.readers p {
    font-size: 16px;
    font-family: 'CeraPro', sans-serif;
    font-weight: 700;
    color: #FFFFFF;
    text-transform: uppercase;
}

@media(max-width:900px) {
    .statistic {
        padding: 109px 20px 80px 20px;
        gap: 103px;
    }

    .main_text {
        font-size: 86px;
    }

    .blocks {
        gap: 20px;
    }

    .auditory {
        width: 419px;
        height: 140px;
    }

    .readers {
        width: 419px;
        height: 140px;
    }

    .auditory h1 {
        font-size: 52px;
    }

    .auditory p {
        font-size: 18px;
    }

    .readers h1 {
        font-size: 52px;
    }

    .readers p {
        font-size: 18px;
    }

    .blocks_arrow {
        gap: 30px;
    }
}

@media(max-width: 600px) {
    .statistic {
        padding: 110px 19px 80px 19px;
        gap: 120px;
    }

    .main_text {
        font-size: 64px;
    }

    .auditory {
        width: 271px;
        height: 119px;
    }

    .auditory h1 {
        font-size: 39px;
    }

    .auditory p {
        font-size: 14px;
    }

    .readers {
        width: 271px;
        height: 119px;
    }

    .readers h1 {
        font-size: 39px;
    }

    .readers p {
        font-size: 14px;
    }
}

@media(max-width: 320px) {
    .statistic {
        padding: 80px 17px;
    }

    .main_text {
        font-size: 36px;
    }

    .blocks {
        flex-direction: column;
        gap: 14px;
    }

    .auditory {
        width: 290px;
        height: 89px;
        gap: 0;
    }

    .auditory h1 {
        font-size: 39px;
    }

    .readers {
        width: 290px;
        height: 89px;
        gap: 0;
    }

    .readers h1 {
        font-size: 39px;
    }


}