.burger_menu {
    width: 188px;
    height: 512px;
    display: flex;
    flex-direction: column;
    gap: 219px;
    background-color: #3B2341;
    padding: 30px 15px;
}

.contacts {
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.phone {
    display: flex;
    align-items: center;
    gap: 10px;
}

.phone p {
    font-size: 16px;
    font-family: 'CeraPro';
    font-weight: 500;
    color: #FFFFFF;
    text-transform: uppercase;
}

.btn button {
    width: 158px;
    height: 40px;
    border: 2px solid#FFFFFF;
    font-size: 14px;
    font-family: 'CeraPro';
    font-weight: 500;
    text-transform: uppercase;
    color: #FFFFFF;
}