.left_part {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 370px;
}

.form {
    border: 2px solid #503655;
    padding: 14px 35px;
    text-align: center;
    align-items: center;
}

.form div {
    width: 320px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'CeraPro';
    color: #FFFFFF;
}

.form span {
    color: #F25C3A;
}

.right_part {
    display: flex;
    flex-direction: column;
    gap: 90px;
}

.big_image {
    width: 770px;
    height: 433px;
    position: relative;
    overflow: hidden;
}

.big_image_img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.sliders {
    display: flex;
    align-items: center;
    width: 100%;
}

.small_images {
    display: flex;
    gap: 10px;
}

.small_image {
    cursor: pointer;
    transition: transform 0.3s ease, opacity 0.3s ease;
    border: 2px solid transparent;
    position: relative;
}

.small_image_img {
    width: 195px;
    height: 109px;
    object-fit: cover;
}

.small_image.last_image {
    opacity: 0.3;
}

.small_image.last_image:hover {
    opacity: 0.7;
}

.small_image:hover {
    transform: scale(1.05);
}

.small_image.selected {
    border: 2px solid #F25C3A;
}

.arrow_container {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.arrow {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 20px;
    transition: transform 0.3s ease;
}

.arrow:hover {
    transform: scale(1.1);
}

@media(max-width: 900px) {
    .left_part {
        flex-direction: row;
        display: flex;
        flex-wrap: wrap;
        width: 100%;
        gap: 20px;
    }

    .form {
        width: 419px;
        height: 92px;
        padding: 15px 34px;
    }

    .form div {
        font-size: 16px;
    }

    .big_image {
        display: flex;
        justify-content: center;
        width: 860px;
        height: 484px;
    }

    .big_image_img {
        width: 860px;
        height: 484px;
    }

    .right_part {
        gap: 20px;
    }
}

@media(max-width: 600px) {
    .left_part {
        width: 560px;
        gap: 21px;
    }

    .form {
        width: 269px;
        height: 126px;
        padding: 20px 21px;
    }

    .form div {
        width: 245px;
    }

    .big_image {
        width: 560px;
        height: 315px;
    }

    .big_image_img {
        width: 560px;
        height: 315px;
    }
}