.communities {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 375px 120px 375px;
}

.communities h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'CeraPro';
    color: #FFFFFF;
    text-transform: uppercase;
}

.mini_text {
    display: flex;
    justify-content: center;
}

.mini_text p {
    font-size: 22px;
    font-weight: 700;
    font-family: 'CeraPro';
    color: #927398;
}

.cards_minitext {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

@media(max-width: 900px) {
    .communities {
        padding: 0px 20px 80px 20px;
        gap: 60px;
    }

    .communities h1 {
        font-size: 34px;
    }

    .cards_minitext {
        gap: 26px;
    }
}

@media(max-width:600px) {
    .communities {
        padding: 0px 19px 80px 19px;
    }

    .cards_minitext {
        gap: 30px;
    }

    .communities h1 {
        font-size: 30px;
    }

    .mini_text p {
        font-size: 18px;
    }
}