.how_we_works {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 375px 120px 375px;
}

.how_we_works h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'CeraPro';
    color: #FFFFFF;
    text-transform: uppercase;
}

.text_images {
    display: flex;
    gap: 30px;
}