.how_we_works {
    display: flex;
    flex-direction: column;
    gap: 50px;
    padding: 0px 375px 120px 375px;
}

.how_we_works h1 {
    font-size: 50px;
    font-weight: 900;
    font-family: 'CeraPro';
    color: #FFFFFF;
    text-transform: uppercase;
}

.text_images {
    display: flex;
    gap: 30px;
}

@media(max-width: 900px) {
    .how_we_works {
        padding: 0px 20px 80px 20px;
        gap: 60px;
    }

    .how_we_works h1 {
        font-size: 34px;
    }

    .text_images {
        flex-direction: column;
    }
}